<div class="container">
    <div class="form-container">
        <div class="title">Hesap Oluştur</div>
        <form [formGroup]="createUserForm">
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email"/>
                <mat-error>
                    <p *ngIf="f['email'].errors && f['email'].errors['required']"><span class="material-icons">report</span>E-mail Zorunludur</p>
                    <p *ngIf="f['email'].errors && f['email'].errors['email']"><span class="material-icons">report</span>E-mail Formatı Geçersiz</p>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Kullanıcı Adı</mat-label>
                <input matInput formControlName="username"/>
                <mat-error>
                    <p *ngIf="f['username'].errors && f['username'].errors['required']"><span class="material-icons">report</span>Kullanıcı Adı Zorunludur</p>
                    <p *ngIf="f['username'].errors && f['username'].errors['minlength']"><span class="material-icons">report</span>Kullanıcı Adı Çok Kısa</p>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Şifre</mat-label>
                <input type="password" matInput formControlName="password"/>
                <mat-error>
                    <p *ngIf="f['password'].errors && f['password'].errors['required']"><span class="material-icons">report</span>Şifre Zorunludur</p>
                    <p *ngIf="f['password'].errors && f['password'].errors['minlength']"><span class="material-icons">report</span>Şifre Çok Kısa</p>
                </mat-error>
            </mat-form-field>
        </form>
        <div class="buttons-container">
            <button [disabled]="createUserForm.invalid" mat-raised-button (click)="createAccount()" class="login-button">
                Kaydol
            </button>
            <p><br>veya</p>
            <button mat-flat-button style="width: 140px;" routerLink="/login">Giriş yap</button>
        </div>
    </div>
  </div>